* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
    background-color: #FFFCF4 !important;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    position: fixed !important;
    background-color: rgba(255, 255, 255, 0.878) !important;
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999 !important;
}

.nav-logo {
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-family: "Roboto Slab", serif;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    font-size: 16px;
}

.navBoo {
    align-items: center;

    a {
        text-decoration: none;
        color: black;
        margin: 0 15px;
        font-size: 16px;
    }
}

/*HERO*/

.hero {
    background-image: url(https://www.pagina12.com.ar/resizer/v2/JH345DSOU5HZTFO4SBKETSCFTI.jpg?quality=75&auth=beb9df7577478a310d022bc255f0e8b91947cfbc6380f897b2ce31cba0087130&width=980);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    margin-top: 60px;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.hero img {
    width: 30%;
    margin-top: 3%;
}

/*DESTACADOS*/
.destacados {
    padding: 7% 0;

}

.section-content {
    display: flex;
    justify-content: center;
}

.section-head {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 4%;
    padding-left: 7%;
}

h2 {
    font-size: 36px;
    font-family: "Roboto Slab";
    margin-right: 5px;
    font-weight: 450;
}

.section-content {
    padding-left: 7%;
    padding-right: 7%;
    display: flex;

}

.desCard {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 1%;
    width: 100%;
    max-width: none;
}


.desCard-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}


.desCard-info {
    padding: 5%;
    font-size: 14px;
    text-align: center;

}

.desCard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
    background-size: cover;
}

.desCard-info h3 {
    font-family: "Roboto Slab", serif;

}

.desCard-info p {
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 20px;

}

.desCard-info a {
    background-color: black;
    color: white;
    padding: 6px 40px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 12px;

}



/*NUESTRA HISTORIA*/
.historia {
    padding: 7%;
    display: flex;
}

.historia p {
    width: 45%;
    margin: 3% 0;
}

.verMas {
    display: flex;
    align-items: center;
    margin-top: 8%;
    border-bottom: 3px solid #EDE4C1;
    padding-bottom: 1%;
    margin-right: 15%;
    font-weight: 600;
    color: #0000006b;

    span {
        color: #EDE4C1;
        font-weight: 500;

    }
}

.verMas a {
    font-size: 14px;
    color: #0000006b;

}

.historia a {
    margin: 0px;
}

.historiaImg {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 420px;
    position: relative;
}

.historia img {
    width: 420px;
    border-radius: 50%;
    position: relative;

}

.historiaContainer {
    position: absolute;
}

.shadowImg {
    position: absolute;
    width: 420px;
    height: 420px;
    background-color: #EDE4C1;
    border-radius: 50%;
    left: 80%;
    top: 50%;
    transform: translateY(-70%);
}

/*RECETAS*/

.recetas {
    display: flex;
    width: 100%;
}

.contRecetas {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: right;
    width: 100%;
    padding-right: 7%;
    margin-bottom: 18px;
    position: relative;

}

.contRecetas p {
    padding-left: 50%;
}

.section-head-right {
    margin-bottom: 4%;
}

.verMasR {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 8%;
    border-bottom: 3px solid #EDE4C1;

    font-weight: 600;
    color: #0000006b;
    width: 100%;
    position: relative;

    a {
        font-size: 14px;
        margin: 0;
        color: #0000006b;

    }

    span {
        color: #EDE4C1;
        font-weight: 500;

    }
}

.recetasImg {
    width: 550px;
    position: absolute;
    z-index: 1000;
}




@media (max-width: 768px) {
    nav {
        padding: 2% 3%;
    }

    .nav-logo {
        font-size: 14px;
    }

    nav ul {
        gap: 10px;
    }

    a {
        margin: 0 10px;
        font-size: 14px;
    }

    .hero {
        height: 60vh;
    }

    .hero img {
        width: 40%;
    }

    .destacados {
        padding: 5%;
    }

    h2 {
        font-size: 28px;
    }

    .section-content {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .desCard {
        width: 48%;
        height: 300px;
        margin-bottom: 5%;
    }

    .historia {
        flex-direction: column;
    }

    .historiaContainer {
        width: 100%;
        padding-right: 10%;
    }

    .historia p {
        width: 100%;
    }

    .historiaImg {
        width: 100%;
        height: 300px;
        justify-content: center;
        margin-top: 50%;
    }

    .historia img {
        width: 50%;
    }

    .shadowImg {
        display: none;
    }

    .recetas {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .contRecetas {
        width: 100%;
        padding: 20px;
    }

    .recetasImg {
        width: 70%;
        max-width: 250px;
        height: auto;
        margin-top: 20px;
    }

    .verMasR {
        justify-content: center;
    }

    .banner {
    margin-top: 100px;
    padding-right: 3%;
    padding-left: 3%;

}
    
}

/* RESPONSIVE MOBILE */
@media (max-width: 393px) {
    body {
        overflow-x: hidden;
    }

    nav {
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 4%;
        padding-right: 0;
        display: flex;
    }

    .nav-logo {
        font-size: 12px;
        width: 100%;
        margin-bottom: 10px;
    }

    nav ul {
        width: 100%;

    }

    
    .material-symbols-outlined {
        display: block;
    }

    a {
        margin: 0 5px;
        font-size: 12px;
    }

    .hero {
        height: 80vh;
    }

    .hero img {
        width: 70%;
    }

    .destacados {
        padding: 4%;
    }

    h2 {
        font-size: 22px;
    }

    .section-head {
        margin-bottom: 6%;
    }

    .section-content {
        flex-direction: column;
        gap: 20px;
    }

    .desCard {
        width: 100%;
        height: 280px;
    }

    .desCard-info {
        padding: 6%;
        font-size: 12px;
    }

    .desCard-head h3 {
        font-size: 14px;
    }

    .historia {
        flex-direction: column;
        padding: 4%;
    }

    .historiaContainer {
        width: 100%;
    }

    .historia p {
        width: 100%;
        font-size: 14px;
    }

    .verMas {
        margin-right: 0;
    }

    .verMas a {
        font-size: 12px;
    }

    .historiaImg {
        width: 100%;
        justify-content: center;
        margin-top: 75%;
    }

    .historia img {
        width: 70%;
        height: 85%;
    }

    .shadowImg {
        width: 55%;
        height: 80%;
        display: none;
    }

    .recetas {
        flex-direction: column-reverse;
    }

    .recetasImg {
        width: 100%;
    }

    .contRecetas {
        width: 100%;

        p,
        a {
            font-size: 14px;
        }

    }

    .verMasR {
        margin-left: 0;
    }

    .tiempo {
        left: 250px;
    }
}

/*RESERVAS*/

form {
    display: flex;
    justify-content: center;
    width: 100% !important;
    padding-top: 2%;
}

.form-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-right: 1%;
}

.second-inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input,
select {
    border-radius: 10px !important;
    padding: 2%;
    margin-bottom: 2%;
    border: 1px solid #EDE4C1 !important;
}



.but {
    color: white;
    background-color: #2C2C2C;
    border: none;
    padding: 3%;
}


.but:hover {
    background-color: #2c2c2cda;
}



.bigDiv {
    display: flex;
    justify-content: center;

    width: 100%;
}

.resh1 {
    text-align: center;
    margin-top: 5%;
    font-size: 36px;
    font-family: "Roboto Slab";
    font-weight: 450;
}

/* MENU */

.banner {

    padding: 3%;
    background-image: url('https://images.pexels.com/photos/34487028/pexels-photo-34487028.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.26),
            rgba(0, 0, 0, 0.7));
}

.banner * {
    position: relative;
    z-index: 2;
}

.cat {
    background-color: #ffffff;

    span {
        font-size: 48px;
        margin-top: 15px;
        color: #dad0ac;
    }

    p {
        color: #dad0ac;
    }

    border: 1px solid #EDE4C1;
}

.desMenu {
    padding: 0;
}

.carta {
    padding-top: 8%;
    padding-bottom: 3%;
}

.menuCard {
    width: 195px !important;
    border: 1px solid #EDE4C1;
}

.menuCard img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.menuCard p {
    font-size: 12px;
    margin: 5px 0;
}

.menuCard h6 {
    margin: 0;
}

.guar {
    background-color: white;
    border: 1px solid #EDE4C1;
    overflow: hidden;
    position: relative;
}

.guar p {
    font-size: 12px;
    width: 100%;
}

.guar img {
    width: 100%;
    position: absolute;
    right: -80px;
    /* la empuja afuera */
    bottom: -90px;
}

/* RECETAS */

.recMedia {
    position: relative;

}

.recMedia img {
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    display: block;
}

.tiempo {
    position: absolute;
    bottom: -20px;
    /* sobresale de la imagen */
    left: 470px;
    width: 115px;
    height: 115px;
    background: #18191d;
    color: white;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 2;
}

.num {
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
}

.min {
    font-size: 14px;
}

.tiempo p {
    margin: 0;
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
}

.verReceta {
    width: 100%;
}

.rece p,
.pill {
    font-size: 14px;
}

.pill {
    border: 1px solid #d5c790;
    color: #6b5b1e;
    background-color: #EDE4C1;

}

.rece h5 {
    font-family: "Roboto Slab", serif;
}

.rece img{
    height: 150px;
}

footer p {
    font-size: 14px;
    color: #ffffffb9;
}

/* MAPA */
.mapouter {
    position: relative;
    text-align: right;
     width: 220px;
     height:150px;
}

.gmap_canvas iframe{
    width: 100%;
    height: 100%;
    border: 0;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:270px;
    height:150px;
}

.gmap_canvas iframe {
    width: 100%;
    height: 100%;
}

.mapouter a {
    display: block;
    font-size: 0.85em;
    text-align: center;
    padding: 5px 0;
    color: #6c757d;
    text-decoration: none;
}

.gme-generated-link {
    display: none !important;
}

.dropdown-menu{
    min-width: 320px !important;
}

/* RECETA ELEGIDA */

.recElec {
    margin-top: 60px;
}

.recElec .ingre {
    font-family: "Roboto Slab", serif;
}

.recElec li {
    font-size: 14px;
    color: #000000ba;
}

.recElec .porc{
    font-size: 14px;
    color: #0000009c;
}

.pasos h3{
    font-family: "Roboto Slab", serif;
    font-size: 24px;
}

.pasos h6{
    font-weight: 550;
}

.paso{
    border-left: 3px solid #b6ac83;

}


.recPic{
    height: 500px;
    width: 500px !important;

}

